{
  "plugins": ["prettier-plugin-vue"],
  "vueIndentScriptAndStyle": true,
  "parser": "typescript",
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "css",
  "bracketSameLine": false,
  "jsxSingleQuote": false,
  "printWidth": 160,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false,
  "overrides": [
    {
      "files": "*.vue",
      "options": { "parser": "vue" }
    }
  ]
}
