body {
    font-family: sans-serif;
}

p {
    padding: 10px;
    line-height: 35px;
}

main {
    margin-right: 50%;
}

div.selector {
    margin-bottom: 50px;
}

header {
    padding-top: 50px;
}

li.link a {
    display: inline;
    color: black;
    text-align: center;
    text-decoration: underline;
    line-height: 50px;
}

/*nav bar*/

nav {
    background-color: white;
    opacity: 0.8;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: table;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

nav li {
    display: table-cell;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 15px 0px 15px 0px;
    text-decoration: none;
    width: 200px;
}

li a:hover {
    background-color: black;
    color: white;
    opacity: 2;
}


/*code*/

pre {
    padding-block: 5px;
}

pre code {
    background-color: #eee;
    border: 1px solid #999;
    border-radius: 10px;
    display: block;
    padding-left: 20px;
}

code {
    font-size: 120%;
    background-color: #eee;
}


/*button*/

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-top: 40%;
    font-size: 16px;
    padding: 5px;
}


