body {
    font-family: sans-serif;
}

p {
    padding: 10px;
    line-height: 35px;
}

main, header {
    margin-right: 50%;
    margin-left: 2%;
}

div.selector {
    margin-bottom: 50px;
}

header {
    padding-top: 50px;
}

li.link a {
    display: inline;
    color: black;
    text-align: center;
    text-decoration: underline;
    line-height: 50px;
}

/*nav bar*/

nav {
    background-color: black;
    opacity: 0.9;
    position: fixed;
    top: 0px;
    left: 0px;
    padding:0px 0px;
    width: 100%;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: table;
    width: auto;
    margin-left: 0px;
    margin-right: auto;
}

nav li {
    display: table-cell;
}

li a {
    display: block;
    color: azure;
    text-align: center;
    padding: 1em 0px 1em 0px;
    margin: 0px;
    text-decoration: none;
    width: 200px;
    transition: color .25s ease-in-out, background-color .25s ease-in-out;
}

li a:hover {
    background-color: white;
    color: black;
    opacity: 2;
/*    transition: color .25s ease-in-out, background-color .25s ease-in-out;*/
}


/*code*/

pre {
    padding-block: 5px;
}

pre code {
    background-color: #eee;
    border: 1px solid #999;
    border-radius: 10px;
    display: block;
    padding-left: 20px;
}

code {
    font-size: 120%;
    background-color: #eee;
}


/*button*/

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-top: 40%;
    font-size: 16px;
    padding: 5px;
}

@media only screen and (max-width: 300px), (orientation:portrait) {

    body {
        font-size: 32px; 
    }



}



