.root {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: grab;
  display: flex;
}

.canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}

.root :global(canvas) {
  width: 100% !important;
  height: 100% !important;
  display: block;
}
