/* // styles apply to body element */
body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 10px 0px 20px 0px;
  transition: background-color 0.5s ease-in-out;
  margin: 100px auto 50px auto;
  color: #555;
  overflow-y: scroll;
  width: 45%;
}

#content {
  flex: 1;
  min-width: max(50%, 250px);
}

#essay {
  margin-top: 20px;
}

p {
  color: #555;
  transition: color 0.5s ease-in-out;
  margin: 10px 0px;
  line-height: 1.5em;
}

#content {
  margin: 1.5em 0 0 0;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 1.2em 0;
  list-style-type: none;
  transition: color 0.5s ease-in-out;
}

header {
  display: flex;
  justify-content: space-between;
}

h2 {
  font-size: 28px;
  flex: 0 0 auto;
  margin: 0;
  text-decoration: none;
  transition: color 1s ease-in-out;
  color: #303030;
}

h2:hover {
  text-decoration: none;
  cursor: default;
}

h3 {
  transition: color 1s ease-in-out;
  color: #303030;
  margin: 20px 0px 10px 0px;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  background-color: #e5e9eb93;
  padding: 10px 10px;
  border-radius: 10px;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

p code {
  margin: 0px 4px;
  line-height: 2em;
  background-color: #f0f0f0;
  padding: 2px 5px;
  border-radius: 3px;
  transition: background-color 0.5s ease-in-out, color 0.1s ease-in-out;
}

blockquote {
  border-left: 3px solid #dddddd;
  padding-left: 10px;
  margin: 20px 0px;
  color: #555;
  transition: all 0.5s ease-in-out;
  font-style: italic;
}

hr {
  border: 0;
  height: 0.5px;
  background: #333;
  background-image: linear-gradient(to right, #c0c0c0, #5f5f5f, #c0c0c0);
  margin: 20px 0px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  margin: 10px 0px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  background-color: rgb(248, 248, 248);
  max-width: 50%;
  min-width: 100px;
  align-self: right;
  transition: color 1s ease-in-out, background-color 0.5s ease-in-out,
    border-color 0.5s ease-in-out;

  &:hover {
    border-color: #868cff;
  }
}

body.dark button {
  background-color: #0d121a;
  border: 1px solid #9ea9eb69;
  color: #c3e3f1;
  transition: background-color 0.5s ease-in-out, color 1s ease-in-out,
    border-color 0.25s ease-in-out;

  &:hover {
    border-color: #868cff;
  }
}
/* // links styling */

a,
a:not([href]):not([class]),
a:visited {
  color: #313131;
  text-decoration: none;
  font-weight: 500;
  border-bottom: 1px solid rgba(125, 125, 125, 0.3);
  transition: border 0.3s ease-in-out, color 0.5s ease-in-out;
}

a:hover,
a:not([href]):not([class]):hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px solid rgba(60, 60, 60, 0.5);
  transition: border 0.3s ease-in-out, color 0.5s ease-in-out;
}

/* // icons styling */

a > svg[class*="fa-"] {
  font-size: 20px;
}

#icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
}

#icons a {
  padding: 10px 10px;
  font-size: 0.7em;
  border-bottom: none;
}

#icons a:link,
#icons a:visited {
  color: #5a5a5a;
  transition: color 1s ease-out;
}

#icons a:hover .fa-github {
  transition-duration: 0.5s;
  color: #000001;
}

#icons a:hover .fa-twitter {
  transition-duration: 0.5s;
  color: #000001;
}

#icons a:hover .fa-strava {
  transition-duration: 0.5s;
  color: #fc4c02;
}

#icons a:hover .fa-compass {
  transition-duration: 0.5s;
  color: #ce264a;
}

/* // back arrow styling */

#back-arrow {
  display: none;
  position: fixed;
  top: 70px;
  font-size: 0.65em;
  border: none;
  transition-duration: 0.2s;
}

/* // scrollbar styling */

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #ffffff00;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #ffffff00;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #c7c7c723;
}

/* // dark mode toggle styling */

#toggle-btn {
  background-color: #ffffff00;
  border: none;
  font-size: 1.3em;
  padding: 0px;
  margin: 0px;
  width: 40px;
  min-width: 0px !important;
}

#toggle-btn:hover {
  cursor: pointer;
}

#toggle-btn img {
  width: 26px;
  margin-bottom: -4px;
}

#dark-mode-icon {
  filter: invert(69%) sepia(10%) saturate(17%) hue-rotate(318deg)
    brightness(84%) contrast(87%);
  transform: scale(1.3);
  transition: filter 0.5s ease-in-out;
}

#dark-mode-icon:hover {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%)
    contrast(100%);
}

#light-mode-icon {
  filter: invert(33%) sepia(0%) saturate(15%) hue-rotate(279deg)
    brightness(102%) contrast(91%);
  transition: filter 0.5s ease-in-out;
}

#light-mode-icon:hover {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%)
    contrast(100%);
}

/* // dark mode styling */

body.dark {
  background-color: #0d121a;
  color: #cecece;
  transition: background-color 0.5s ease-in-out;
}

body.dark p,
body.dark li,
body.dark h2,
body.dark h3 {
  color: #cecece;
}

body.dark pre,
body.dark p code {
  background-color: #212d4199;
  color: #c3e3f1;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

body.dark a,
body.dark a.nav-link,
body.dark a:not([href]):not([class]) {
  color: #dbdbdb;
  text-decoration: none;
}

body.dark a:hover,
body.dark a.nav-link:hover,
body.dark a:not([href]):not([class]):hover {
  color: #ffffff;
  border-color: #9b9b9b;
  transition: border 0.3s ease-in-out, color 0.5s ease-in-out;
}

body.dark blockquote {
  border-color: #1f2b44;
  transition: all 0.5s ease-in-out;
}

/* // dark mode icons styling */

body.dark #icons a:visited,
body.dark #icons a:link {
  color: #949494;
}

body.dark #icons a:hover .fa-github,
body.dark #icons a:hover .fa-twitter {
  color: #ffffff;
}

/* // dark mode header styling */

body.dark header h1 a:link,
body.dark header h1 a:visited {
  color: #eaf0f3;
  text-decoration: none;
}

/* // dark mode scrollbar styling */

body.dark ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #1f2b44;
}

body.dark ::-webkit-scrollbar {
  width: 12px;
  background-color: #1f2b44;
}

body.dark ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #0f1e3fa2;
}

@media (max-width: 1024px) {
  body {
    margin: 100px auto 50px auto;
    width: 65%;
  }
}

@media (max-width: 700px) {
  body {
    margin: 45px auto 50px auto;
    width: 80%;
  }

  #back-arrow {
    display: none;
  }

  #icons {
    display: none;
  }
}
