@import 'tailwindcss';

html {
  height: 100vh;
  /* scrollbar-gutter: stable; */
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  width: 50%;
  height: 100vh;
  margin: 0 auto;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
} 

#content {
  flex: 1;
  min-width: max(50%, 250px);
  margin: 2em 0 2em 0;
  display: flex;
  flex-direction: column;
}

.blog {
  margin: 4em 0;
}

p {
  color: #555;
  transition: color 0.5s ease-in-out;
  margin: 10px 0px;
  line-height: 1.5em;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 1.2em 0;
  list-style-type: none;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e9eb;
  padding: 10px 0px;
  margin-top: 4em;
  transition: border 0.5s ease-in-out;
}

header h2 {
  margin: 0;
}

#restOfHeader {
  display: flex;
  flex-grow: 1;
  justify-content: end;
  align-items: center;
  gap: 20px;
}

#navigation {
  display: flex;
  gap: 20px;
  padding-top: 2px;
}

#navigation a {
  font-size: 0.9em;
  color: #777;
  text-decoration: none;
  transition: color 0.5s ease-in-out;
  border: none;
}

#navigation a:hover {
  color: #000;
  transition: color 0.5s ease-in-out;
}

#navigation a.router-link-active.router-link-exact-active.active {
  color: #000; 
}

body.dark #navigation a:hover {
  color: #cecece;
  transition: color 0.5s ease-in-out;
}

h1 {
  margin: 0;
  flex: 0 0 auto;
  text-decoration: none;
  transition: color 0s ease-in-out;
}

h2 {
  flex: 0 0 auto;
  text-decoration: none;
  transition: color 0.5s ease-in-out;
}

h2:hover {
  text-decoration: none;
  cursor: default;
}

h3 {
  transition: color 0.5s ease-in-out;
  color: #303030;
  margin: 20px 0px 10px 0px;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  background-color: #e5e9eb93;
  padding: 10px 10px;
  border-radius: 10px;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

p code {
  margin: 0px 4px;
  line-height: 2em;
  background-color: #f0f0f0;
  padding: 2px 5px;
  border-radius: 3px;
  transition: background-color 0.5s ease-in-out, color 0.1s ease-in-out;
}

blockquote {
  border-left: 3px solid #dddddd;
  padding-left: 10px;
  margin: 20px 0px;
  color: #555;
  transition: all 0.5s ease-in-out;
  font-style: italic;
}

hr {
  border: 0;
  height: 0.5px;
  background: #333;
  background-image: linear-gradient(to right, #c0c0c0, #999999, #c0c0c0);
  margin: 20px 0px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  margin: 10px 0px;
  padding: 0.6em 1.2em;
  font-size: 0.9em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  color: black;
  background-color: rgb(248, 248, 248);
  max-width: 50%;
  min-width: 100px;
  align-self: right;
  transition: color 1s ease-in-out, background-color 0.5s ease-in-out,
    border-color 0.5s ease-in-out;

  &:hover {
    border-color: #aaa;
  }
}

body.dark button {
  background-color: inherit;
  /* border: 1px solid #9ea9eb69;
  color: #c3e3f1;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out,
    border-color 0.25s ease-in-out;

  &:hover {
    border-color: #a4a9fcc0;
  } */
}

/* button > * {
  text-decoration: none !important;
  color: inherit;
} */

/* // links styling */

a,
a:not([href]):not([class]),
a:visited {
  color: #313131;
  text-decoration: none;
  font-weight: 500;
  border-bottom: 1px solid rgba(125, 125, 125, 0.3);
  transition: border 0.3s ease-in-out, color 0.5s ease-in-out;
}

a:hover,
a:not([href]):not([class]):hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px solid rgba(60, 60, 60, 0.5);
  transition: border 0.3s ease-in-out, color 0.5s ease-in-out;
}

/* // icons styling */

a > svg[class*="fa-"] {
  font-size: 20px;
}

#icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
}

#icons a {
  padding: 10px 10px;
  font-size: 0.7em;
  border-bottom: none;
}

#icons a:link,
#icons a:visited {
  color: #5a5a5a;
  transition: color 1s ease-out;
}

#icons a:hover .fa-github {
  transition-duration: 0.5s;
  color: #000001;
}

#icons a:hover .fa-twitter {
  transition-duration: 0.5s;
  color: #000001;
}

#icons a:hover .fa-strava {
  transition-duration: 0.5s;
  color: #fc4c02;
}

#icons a:hover .fa-compass {
  transition-duration: 0.5s;
  color: #ce264a;
}

/* // back arrow styling */

#back-arrow {
  display: none;
  position: fixed;
  top: 70px;
  font-size: 0.65em;
  border: none;
  transition-duration: 0.2s;
}

/* // dark mode styling */

body.dark {
  background-color: #0a0a0a;
  color: #cecece;
  transition: background-color 0.5s ease-in-out;
}

body.dark p,
body.dark li,
body.dark h2,
body.dark h3 {
  color: #cecece;
}

body.dark pre,
body.dark p code {
  background-color: #212d4199;
  color: #c3e3f1;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

body.dark a,
body.dark a.nav-link,
body.dark a:not([href]):not([class]) {
  color: #dbdbdb;
  text-decoration: none;
}

body.dark a:hover,
body.dark a.nav-link:hover,
body.dark a:not([href]):not([class]):hover {
  color: #ffffff;
  border-color: #9b9b9b;
  transition: border 0.3s ease-in-out, color 0.5s ease-in-out;
}

body.dark blockquote {
  border-color: #1f2b44;
  transition: all 0.5s ease-in-out;
}

body.dark ul li,
body.dark ul {
  transition: color 0.5s ease-in-out;
}

/* // dark mode icons styling */

body.dark #icons a:visited,
body.dark #icons a:link {
  color: #949494;
}

body.dark #icons a:hover .fa-github,
body.dark #icons a:hover .fa-twitter {
  color: #ffffff;
}

/* // dark mode header styling */

body.dark h1 {
  transition: color 0.5s ease-in-out;
}

body.dark header h1 a:link,
body.dark header h1 a:visited {
  color: #eaf0f3;
  text-decoration: none;
}

body.dark header #navigation a {
  color: #aaaaaa;
  text-decoration: none;
}

body.dark header #navigation a.router-link-active.router-link-exact-active.active {
  color: #f8f8f8; 
}

body.dark header {
  border-bottom: 1px solid #2a3855;
}

@media (max-width: 1640px) {
  body {
    margin: 0 auto 50px auto;
  }
}

@media (max-width: 1440px) {
  body {
    width: 60%;
  }

  header {
    margin-top: 1em;
  }
}

@media (max-width: 1024px) {
  body {
    width: 80%;
  }
}

@media (max-width: 700px) {
  body {
    margin: 0 auto 50px auto;
    padding: 0;
    width: 90%;
  }

  header {
    margin-top: 0;
  }

  #content {
    margin: 0.5em 0 0;
  }

  #content li {
    margin-top: 0;
  }

  #back-arrow {
    display: none;
  }

  #icons {
    display: none;
  }

}
