// Import all of Bootstrap's SCSS
@import "~bootstrap/scss/bootstrap";

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding-top: 10px;
  padding-bottom: 20px;
}

header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
}

header #links {
  display: flex;
  flex: 1;
  align-items: baseline;
}

header ul.nav {
  max-width: 50%;
  flex-wrap: nowrap;
}

header h1 {
  flex: 0 0 auto;
  margin: 15px 0;
  text-decoration: none;
}

header h1:hover {
  text-decoration: none;
  cursor: default;
}

b {
  font-size: larger;
}

a,
a.nav-link {
  color: #1e82f3;
  text-decoration: none;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  font-weight: 500;
}

a:not([href]):not([class]) {
  color: #1e82f3;
  text-decoration: none;
}

a.nav-link {
  padding: 0 15px 0 0;
}

a:hover, 
a.nav-link:hover {
  transition-duration: .25s;
  color: #1a54f1;
  text-decoration: none;
}

a:not([href]):not([class]):hover {
  color: #1a54f1;
  text-decoration: none;
  cursor: pointer;
}

#typed {
  font-size: large;
  font-weight: 450;
  height: 6em;
}



#icons a {
  padding: 10px 2px;
  font-size: 1em;
}

#icons a:link,
#icons a:visited {
  color: rgba(0, 0, 0, 0.699);
  transition: 1s ease-out;
}

#icons a:hover {
  transition-duration: .25s;
  color: #1e82f3;
}

#icons {
  min-width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: #646cff;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

input {
  border-radius: 8px;
  border: 1px solid hsla(231, 66%, 77%, 0.411);
  padding: 0.5em 1em;
}

#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

#content {
  flex: 1;
  min-width: max(40%, 350px);
  margin-right: 10%;
}

#app {
  flex: 1;
  min-width: max(40%, 350px);
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  background-color: #e5e9eb93;
  padding: 0px 10px;
  border-radius: 10px;
}

// scrollbar styling

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #ffffff00;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #ffffff00;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #c7c7c723;
}

// loader styling

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #646cff63;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  animation: spin 2s linear infinite;
  margin: auto;
  display: none;
  aspect-ratio: 1/1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// dark mode styling

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1f2b44;
    color: #c3e3f1;
  }

  a,
  a.nav-link,
  a:not([href]):not([class]) {
    color: #c5dffd;
    text-decoration: none;
  }

  a:hover,
  a.nav-link:hover,
  a:not([href]):not([class]):hover {
    color: #f8f8f8;
  }


  #icons a:visited,
  #icons a:link {
    color: #a9c0c4b6;
    transition: 1s ease-out;
  }

  #icons a:hover {
    transition-duration: .25s;
    color: #ffffff;
  }

  header h1 a:link,
  header h1 a:visited {
    color: #eaf0f3;
    text-decoration: none;

  }

  #house {
    transition: 1s ease-out;
    filter: drop-shadow(0 0 0.15em #e9b5689d);
  }

  #house:hover {
    filter: drop-shadow(0 0 0.15em #00000000);
    transition-duration: .5s;
  }

  input {
    border: 1px solid hsla(231, 66%, 77%, 0.411);
    background-color: #1f2b44;
    color: #c3e3f1;
  }

  button {
    background-color: #1f2b44;
    color: #c3e3f1;
  }

  pre {
    background-color: #1f2b44;
    color: #c3e3f1;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #1f2b44;
  }

  ::-webkit-scrollbar {
    width: 12px;
    background-color: #1f2b44;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #0f1e3fa2;
  }
}

@media (max-width: 576px) {
  #icons {
    min-width: 40%;
  }
}

// @media (min-width: 500px) {
//   header #links {
//     // max-width: none;
//     // justify-content: space-between;
//     // border: 1px solid #ff0000;
//   }
// }