// Import all of Bootstrap's CSS
@import "node_modules/bootstrap/scss/bootstrap";

body { 
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding-top: 10px; 
  padding-bottom: 70px;
}

header {
  display: flex;
  align-items: center;
}

header ul {
  display: flex;
  flex: 1;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

header h1 {
  flex: 0 0 auto;
  margin: 15px 0;
  text-decoration: none;
}

h1 a, h1 a:hover {
  text-decoration:none;
}

h1 a:link, h1 a:visited {
  color: #213547;
}

a, a.nav-link  {
  color: #1e82f3;
  text-decoration:none;
}

a:hover, a.nav-link:hover, #anyhtml:hover {
  color: #184eca;
  text-decoration:none;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

#anyhtml {
  color: #1e82f3;
  cursor: pointer
}

footer a:link, footer a:visited {
  color: black;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-bottom: 20px;
  padding-top: 10px;
  color: black;
  text-align: center;
  background-color: #ffffff;
}

#icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  border-radius: 8px;
  border : 1px solid hsla(231, 66%, 77%, 0.411);
  padding: 0.5em 1em;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1f2b44;
    color: #c3e3f1;
  }
  
  a, a.nav-link {
    color: #9ec8f8;
    text-decoration:none;
  }

  #anyhtml {
    color: #9ec8f8;
  }

  footer {
    background-color: #1f2b44;
  }
  footer a:visited, footer a:link  {
    color: #ffffff;
  }

  h1 a:link, h1 a:visited {
    color: #eaf0f3;
    text-decoration:none;
  }
  input {
    border : 1px solid hsla(231, 66%, 77%, 0.411);
    background-color: #1f2b44;
    color: #c3e3f1;
  }

  button {
    background-color: #1f2b44;
    color: #c3e3f1;
  }

  pre {
    background-color: #1f2b44;
    color: #c3e3f1;
  }
}