// Import all of Bootstrap's SCSS
@import "~bootstrap/scss/bootstrap";

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding-top: 10px;
  padding-bottom: 20px;
  transition: background-color 0.5s ease-in-out, color 1s ease-in-out;
}

p, li {
  color: #555;
}

header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
}

header #links {
  display: flex;
  flex: 1;
  align-items: baseline;
}

header ul.nav {
  max-width: 50%;
  flex-wrap: nowrap;
}

header h1 {
  flex: 0 0 auto;
  margin: 15px 0;
  text-decoration: none;
}

header h1:hover {
  text-decoration: none;
  cursor: default;
}

b {
  font-size: larger;
}

a,
a.nav-link,
a:not([href]):not([class]) {
  color: #1b4677;
  text-decoration: none;
  font-weight: 500;
  transition: color 1s ease-in-out;
  border-bottom: 1px solid rgba(125,125,125,.3);
  transition: border .3s ease-in-out;
}

a.nav-link {
  padding: 0 15px 0 0;
}

a:hover,
a.nav-link:hover,
a:not([href]):not([class]):hover {
  transition-duration: .25s;
  color: #0d2138;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px solid rgba(60,60,60,.5);
  transition: border .3s ease-in-out;
}

#typed {
  font-size: large;
  font-weight: 450;
  height: 6em;
}

#icons a {
  padding: 10px 2px;
  font-size: 0.9em;
  border-bottom: none;
}

#icons a:link i.fa-github,
#icons a:link i.fa-linkedin-in,
#icons a:link i.fa-kaggle,
#icons a:visited i.fa-github,
#icons a:visited i.fa-linkedin-in,
#icons a:visited i.fa-kaggle {
  color: rgba(0, 0, 0, 0.55);
  // transition: 1s ease-out;
}

#icons a:hover i.fa-github {
  // transition-duration: .5s;
  color: #000001;
}

#icons a:hover i.fa-linkedin-in {
  // transition-duration: .5s;
  color: #0a66c2;
}

#icons a:hover i.fa-kaggle {
  // transition-duration: .5s;
  color: #20beff;
}

#icons {
  min-width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: top;
}

#icons a#kaggle {
  padding-top: 8px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition-duration: .5s;

  &:hover {
    border-color: #646cff;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

input {
  border-radius: 8px;
  border: 1px solid hsla(231, 66%, 77%, 0.411);
  padding: 0.5em 1em;
  transition-duration: .5s;
}

#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

#content {
  flex: 1;
  min-width: max(50%, 250px);
}

#app {
  flex: 1;
  min-width: max(40%, 350px);
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  background-color: #e5e9eb93;
  padding: 0px 10px;
  border-radius: 10px;
  transition-duration: .5s;
}

// scrollbar styling

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #ffffff00;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #ffffff00;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #c7c7c723;
}

// loader styling

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #646cff63;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  animation: spin 2s linear infinite;
  margin: auto;
  display: none;
  aspect-ratio: 1/1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// dark mode toggle styling

#toggle-btn {
  background-color: #ffffff00;
  border: none;
  font-size: 1.3em;
  padding: 0;
  position: absolute;
  right: 30px;
  top: 10px;
}


// dark mode styling

body.dark {
  background-color: #1f2b44;
  color: #c3e3f1;
}

body.dark p, 
body.dark li {
    color: #c3e3f1;
}

body.dark a,
body.dark a.nav-link,
body.dark a:not([href]):not([class]) {
  color: #c5dffd;
  text-decoration: none;
}

body.dark a:hover,
body.dark a.nav-link:hover,
body.dark a:not([href]):not([class]):hover {
  color: #f8f8f8;
}


body.dark #icons a:visited i.fa-github,
body.dark #icons a:visited i.fa-linkedin-in,
body.dark #icons a:visited i.fa-kaggle,
body.dark #icons a:link i.fa-github,
body.dark #icons a:link i.fa-linkedin-in,
body.dark #icons a:link i.fa-kaggle {
  color: #a9c0c4b6;
  transition-duration: 1s;
}

body.dark #icons a:hover i.fa-github {
  transition-duration: .5s;
  color: #ffffff;
}

body.dark #icons a:hover i.fa-linkedin-in {
  transition-duration: .5s;
  color: #0a66c2;
}

body.dark #icons a:hover i.fa-kaggle {
  transition-duration: .5s;
  color: #20beff;
}

body.dark header h1 a:link,
body.dark header h1 a:visited {
  color: #eaf0f3;
  text-decoration: none;

}

body.dark #house {
  transition: 1s ease-out;
  filter: drop-shadow(0 0 0.15em #e9b5689d);
}

body.dark #house:hover {
  filter: drop-shadow(0 0 0.15em #00000000);
  transition-duration: .5s;
}

body.dark input {
  border: 1px solid hsla(231, 66%, 77%, 0.411);
  background-color: #1f2b44;
  color: #c3e3f1;
  transition-duration: .5s;
}

body.dark button {
  background-color: #1f2b44;
  color: #c3e3f1;
  transition-duration: .5s;
}

body.dark pre {
  background-color: #1f2b44;
  color: #c3e3f1;
  transition-duration: .5s;
}

body.dark ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #1f2b44;
}

body.dark ::-webkit-scrollbar {
  width: 12px;
  background-color: #1f2b44;
}

body.dark ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #0f1e3fa2;
}

@media (min-width: 992px) {

  #content {
    margin-right: 10%;
  }

}

@media (max-width: 630px) {

  #icons {
    min-width: 40%;
  }

  #toggle-btn {
    display: none;
  }

}

@media (max-width: 450px) {

  body {
    font-size: small;
  }

}

@media (max-width: 350px) {

  body {
    font-size: x-small;
  }

  em {
    font-size: x-small;
  }

}